/* ==UserStyle==
@name           Tierney SSO Dark Theme
@namespace      totallytrav
@version        1.1.1
@description    Dark Theme for SSO
@author         Travis Olson
@homepageURL	https://github.com/totallytrav/SSODark
@updateURL      https://raw.githubusercontent.com/totallytrav/SSODark/master/SSODark.user.css
==/UserStyle== */

@-moz-document domain("sso.tierneybrothers.com") {
html, body
{
    color:#ffffff;
}
#contentWrapper
{
    background-color:#000000 !important;
}
.illustrationClass {
    background-image:url(nul);
    background-color:#000000 !important;
}
.logoImage {
    filter: invert(1) hue-rotate(180deg) saturate(1) brightness(0.6) contrast(2);
}
select
{
    background-color: #000000;
    color: #FFFFFF
}
input[type="submit"]:hover, span.submit:hover {
    background: rgb(154, 0, 6);
}
span.submit, input[type="submit"] {
    border: none;
    background-color: rgb(237, 28, 36);
}
input.text {
    height: 33px;
}
}
